src/main/resources/pagos.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.edu.cibertec.com/pagos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.edu.cibertec.com/pagos" targetNamespace="http://www.edu.cibertec.com/pagos">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.edu.cibertec.com/pagos">

	<xsd:element name="ConsultaPagosRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="fechaConsulta" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="ListadoPagos">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="pago" type="tns:DetallePago"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="DetallePago">
		<xsd:sequence>
			<xsd:element name="idPago" type="xsd:long"/>
			<xsd:element name="fechaPago" type="xsd:string"/>
			<xsd:element name="montoTotalPago" type="xsd:double"/>
			<xsd:element name="moneda" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaPagosRequest">
    <wsdl:part element="tns:ConsultaPagosRequest" name="ConsultaPagosRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PagosPort">
    <wsdl:operation name="ConsultaPagos">
      <wsdl:input message="tns:ConsultaPagosRequest" name="ConsultaPagosRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PagosPortSoap11" type="tns:PagosPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaPagos">
      <soap:operation soapAction=""/>
      <wsdl:input name="ConsultaPagosRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagosPortService">
    <wsdl:port binding="tns:PagosPortSoap11" name="PagosPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>